<h1>Courses#show</h1>
<h2><%= @course.name %></h2>
<table>
    <tr>
        <td>単位</td>
        <td><%= @course.credit %></td>
    </tr>
    <tr>
        <td>必修</td>
        <td><%= @course.compulsory %></td>
    </tr>
</table>